@import chat
@import game_board
@import left_page
@import loading
@import modals
@import right_page
@import settings
@import timer
@import fonts

body
  background: url(../images/background.jpg)

h4
  display: inline
  padding-left: 25%

article
  font-family: "Trebuchet MS", Helvetica, sans-serif
  color: wheat
  padding: 0 6vmin
  h1
    text-align: center
    font-size: 14vmin
    font-family: 'Walter Turncoat', Helvetica, Sans-serif
    padding-bottom: 10vmin
  section
    padding-bottom: 10vmin
    font-size: 4vmin
    font-family: 'Handlee', Helvetica, Sans-serif
    position: relative
  img
    height: 80vmin
    width: 80vmin
    border: 10px ridge white
    display: table-cell
    vertical-align: middle
    margin: auto
    margin-top: 6vmin

#main-region
  margin-top: 15vmin

#logo
  display: inline
  width: 80px
  height: 80px
  margin-top: -30px
  margin-left: -26px

.dropdown-menu
  border: 1px solid white
  min-width: 141px
  background-color: #101010
  border: 1px solid rgba(0, 0, 0, 0.15)
  li
    a
      color: #999999
      &:hover
        color: white
        background-color: #101010

#home-logo
  display: inline
  width: 25%

#logo-title
  font-family: 'Dancing Script', Georgia, Times, serif
  font-size: 14vmin
  text-align: center
  color: wheat

.navbar
  margin-bottom: 15px
  background-color: rgba(0,0,0,0.8)
  border-color: rgba(0,0,0,0.8)

.logo-region
  margin-top: 10px

#home-menu
  padding-left: 0
  list-style-type: none 
  font-size: 6vmin
  font-family: 'Rancho', Helvetica, Sans-serif

  li
    padding: 5vh
    text-align: center
    
    a
      text-decoration: none
      color: wheat
    
    a:hover
      text-decoration: none
      color: white