#left-page-region
  display: inline-block
  position: absolute
  width: 32vw
  top: 45vh
  &.top
    width: 100%
    top: 10vh

#log
  font-size: 9vmin
  color: white
  text-align: center
  span
    margin-left: 3vmin
    font-family: 'Fertigo', Arial, sans-serif
  img
    width: 9vmin