select option
  border: 1px solid buttonface
  border-radius: 5px
  padding: 10px 0

#left-page-region
  display: none

@media only screen and (min-width: 1000px)
  #left-page-region
    display: inline-block
    position: absolute
    padding: 20px
    margin-left: 8%
    margin-top: 30px

#log
  font-size: 30px
  color: white
  width: 139px
  span
    margin-left: 10px

#x-tie
  margin-top: -22px
  margin-right: -7px

#o-tie
  margin-left: -37px

#new-game
  margin-left: 22px

#new-game-btn
  margin-top: 20%
  color: black

#level-btn-group
  margin-left: -25px
  margin-top: 35px

#level-select
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  width: auto
  padding: 6px
  font-size: 15px
  color: black
  margin-top: 35px
  margin-left: 27px
  background-color: buttonface