<!DOCTYPE html>
<html>
<head>
  <title>TicTacToe</title>

  <link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="lib/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="lib/flipclock.css">
  <link rel="stylesheet" type="text/css" href="assets/styles/application.css">

  <script src="lib/jquery.js"></script>
  <script src="lib/underscore.js"></script>
  <script src="lib/bootstrap.js"></script>
  <script src="lib/async.js"></script>
  <script src="lib/flipclock.js"></script>  
  <script src="lib/socket.io.js"></script>
  <script src="lib/moment.js"></script>
  <script src="lib/backbone.js"></script>
  <script src="lib/marionette.js"></script>
  <script src="lib/templates.js"></script>

  <script src="assets/scripts/app.js"></script>

  <script src="assets/scripts/helpers/resizing.js"></script>
  <script src="assets/scripts/helpers/connect.js"></script>

  <script src="assets/scripts/home/home_view.js"></script>
  <script src="assets/scripts/home/home_controller.js"></script>
  <script src="assets/scripts/home/home_app.js"></script>

  <script src="assets/scripts/instructions/instructions_view.js"></script>
  <script src="assets/scripts/instructions/instructions_controller.js"></script>
  <script src="assets/scripts/instructions/instructions_app.js"></script>

  <script src="assets/scripts/game/models/game_model.js"></script>
  <script src="assets/scripts/game/models/one_player_model.js"></script>
  <script src="assets/scripts/game/models/two_players_model.js"></script>
  <script src="assets/scripts/game/models/two_players_online_model.js"></script>
  <script src="assets/scripts/game/game_view.js"></script>
  <script src="assets/scripts/game/controllers/game_controller.js"></script>
  <script src="assets/scripts/game/controllers/one_player_controller.js"></script>
  <script src="assets/scripts/game/controllers/two_players_controller.js"></script>
  <script src="assets/scripts/game/controllers/two_players_online_controller.js"></script>
  <script src="assets/scripts/game/game_app.js"></script>

</head>
<body>

<div id="main-region"></div>

<div class="modal fade" id="exit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">TicTacToe Alert</h4>
      </div>
      <div class="modal-body">
        <p>Do you really want to quit in the middle of the game?</p>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-danger no-btn" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary yes-btn" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>