<!DOCTYPE html>
<html>
<head>
  <title>TicTacToe</title>
  
  <link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="lib/fuelux.css">
  <link rel="stylesheet" type="text/css" href="assets/styles/application.css">


  <script src="lib/jquery.js"></script>
  <script src="lib/underscore.js"></script>
  <script src="lib/bootstrap.js"></script>
  <script src="lib/fuelux.js"></script>
  <script src="lib/loading.js"></script>
  <script src="lib/socket.io.js"></script>
  <script src="lib/moment.js"></script>
  <script src="lib/backbone.js"></script>
  <script src="lib/marionette.js"></script>
  <script src="lib/templates.js"></script>

  <script src="assets/scripts/app.js"></script>

  <script src="assets/scripts/helpers/resizing.js"></script>
  <script src="assets/scripts/helpers/timer.js"></script>
  <script src="assets/scripts/helpers/chat.js"></script>

  <script src="assets/scripts/home/home_view.js"></script>
  <script src="assets/scripts/home/home_controller.js"></script>
  <script src="assets/scripts/home/home_app.js"></script>

  <script src="assets/scripts/instructions/instructions_view.js"></script>
  <script src="assets/scripts/instructions/instructions_controller.js"></script>
  <script src="assets/scripts/instructions/instructions_app.js"></script>

  <script src="assets/scripts/game/models/game_model.js"></script>
  <script src="assets/scripts/game/models/one_player_model.js"></script>
  <script src="assets/scripts/game/models/two_players_model.js"></script>
  <script src="assets/scripts/game/models/two_players_online_model.js"></script>
  <script src="assets/scripts/game/game_view.js"></script>
  <script src="assets/scripts/game/controllers/game_controller.js"></script>
  <script src="assets/scripts/game/controllers/one_player_controller.js"></script>
  <script src="assets/scripts/game/controllers/two_players_controller.js"></script>
  <script src="assets/scripts/game/controllers/two_players_online_controller.js"></script>
  <script src="assets/scripts/game/game_app.js"></script>

</head>
<body>

<div id="main-region"></div>

<div class="modal fade" id="Invalid-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       <img class="icon" src="assets/images/warning.png"/><h4 class="modal-title">Invalid Location!</h4>
      </div>
      <div class="modal-body">
        <p>You have to play in the big board in the appropriate location to the location that the opponent played in the small board on the last turn.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn disable-invalid" data-dismiss="modal">Don't Show Again</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Full-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       <img class="icon" src="assets/images/warning.png"/><h4 class="modal-title">Full Cell!</h4>
      </div>
      <div class="modal-body">
        <p>You can choose now every free location that you want.</p>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn disable-full" data-dismiss="modal">Don't Show Again</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>